@charset "UTF-8";
/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url("../fonts/roboto-italic/Roboto-Italic.eot");
  src: local("☺"), url("../fonts/roboto-italic/Roboto-Italic.woff") format("woff"), url("../fonts/roboto-italic/Roboto-Italic.ttf") format("truetype"), url("../fonts/roboto-italic/Roboto-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/roboto-regular/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/roboto-regular/Roboto-Regular.woff") format("woff"), url("../fonts/roboto-regular/Roboto-Regular.ttf") format("truetype"), url("../fonts/roboto-regular/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad-Pro-Regular';
  src: url("../fonts/myriad-pro/Myriad-Pro-Regular.eot");
  src: local("☺"), url("../fonts/myriad-pro/Myriad-Pro-Regular.woff") format("woff"), url("../fonts/myriad-pro/Myriad-Pro-Regular.ttf") format("truetype"), url("../fonts/myriad-pro/Myriad-Pro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 32, ../scss/_global.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 35, ../scss/_global.scss */
body {
  font: 14px 'Arial', sans-serif;
  padding: 40px;
}
/* line 38, ../scss/_global.scss */
body > section {
  margin-top: 80px;
}
/* line 40, ../scss/_global.scss */
body > section:first-child {
  margin: 0;
}

/* line 45, ../scss/_global.scss */
a, input, textarea {
  outline: none;
}

/* line 48, ../scss/_global.scss */
h2, h3 {
  margin-bottom: 20px;
  color: #0090ff;
}

/* line 52, ../scss/_global.scss */
h2 {
  font-size: 30px;
}

/* line 55, ../scss/_global.scss */
h3 {
  font-size: 18px;
}

/* line 58, ../scss/_global.scss */
a {
  text-decoration: none;
}

/* Inputs */
/* line 64, ../scss/_global.scss */
.container-inputs h2 {
  margin: 0;
}
/* line 67, ../scss/_global.scss */
.container-inputs label {
  display: inline-block;
  min-width: 160px;
  margin-right: 15px;
  font-style: italic;
  color: #9d9d9d;
}
/* line 74, ../scss/_global.scss */
.container-inputs input {
  width: 95px;
  border: 1px solid #dfdfdf;
  font: 14px 'Roboto-Italic', sans-serif;
  line-height: 31px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 83, ../scss/_global.scss */
.address {
  margin: -15px 0 45px 0;
}
/* line 85, ../scss/_global.scss */
.address li {
  margin-top: 5px;
}
/* line 87, ../scss/_global.scss */
.address li:first-child {
  margin-top: 0;
  margin-left: 178px;
}

/* line 94, ../scss/_global.scss */
.status li:first-child {
  margin-bottom: 40px;
}

/* line 98, ../scss/_global.scss */
label[for="region"] {
  position: relative;
  z-index: 5;
  min-width: 0;
  margin-right: -5px;
  font: 14px 'Roboto-Regular', sans-serif;
  color: #666666;
}
/* line 105, ../scss/_global.scss */
label[for="region"]:after {
  content: '*';
  position: absolute;
  right: -8px;
  color: #ff0000;
}

/* line 112, ../scss/_global.scss */
input#region {
  width: 125px;
  padding: 2px 10px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #d5d5d5;
  font: italic 10px 'Arial', sans-serif;
  line-height: 10px;
}
/* line 120, ../scss/_global.scss */
input#region::-webkit-input-placeholder {
  color: #c5c5c5;
}
/* line 123, ../scss/_global.scss */
input#region::-moz-placeholder {
  color: #c5c5c5;
}
/* line 126, ../scss/_global.scss */
input#region:-moz-placeholder {
  color: #c5c5c5;
}

/* line 130, ../scss/_global.scss */
input#streetName {
  width: 350px;
  padding: 0 5px;
  text-align: left;
}
/* line 134, ../scss/_global.scss */
input#streetName::-webkit-input-placeholder {
  color: #cccccc;
}
/* line 137, ../scss/_global.scss */
input#streetName::-moz-placeholder {
  color: #cccccc;
}
/* line 140, ../scss/_global.scss */
input#streetName:-moz-placeholder {
  color: #cccccc;
}

/* line 144, ../scss/_global.scss */
input#focusInput {
  border: 1px solid #5d7486;
  -moz-box-shadow: #4e96ce 0 0 4px;
  -webkit-box-shadow: #4e96ce 0 0 4px;
  box-shadow: #4e96ce 0 0 4px;
}

/* line 148, ../scss/_global.scss */
input#errorInput {
  border: 1px solid #ff4242;
}

/* line 151, ../scss/_global.scss */
.error-message {
  display: inline-block;
  margin-left: 10px;
  font: 12px 'Roboto-Regular', sans-serif;
  color: #ff0000;
}

/* Textarea */
/* line 159, ../scss/_global.scss */
.container-textarea textarea {
  width: 445px;
  height: 165px;
  border: 1px solid #dfdfdf;
  resize: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Counter */
/* line 169, ../scss/_global.scss */
.counter-container, .counter-field, .counter-minus, .counter-plus {
  display: -webkit-inline-flex;
  display: inline-flex;
}

/* line 173, ../scss/_global.scss */
.counter-field, .counter-minus, .counter-plus {
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 32px;
  font-family: 'Roboto-Regular', sans-serif;
}

/* line 181, ../scss/_global.scss */
.counter-container .active {
  background: #f58023;
  border-color: #f58023;
  color: #fff;
}

/* line 187, ../scss/_global.scss */
.counter-minus {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

/* line 191, ../scss/_global.scss */
.counter-plus {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* line 195, ../scss/_global.scss */
.counter-minus, .counter-plus {
  background: #fff;
  color: #000;
  margin: 0;
  text-decoration: none;
  border: 1px solid #cccccc;
  font-size: 24px;
}
/* line 202, ../scss/_global.scss */
.counter-minus:focus, .counter-minus:hover, .counter-plus:focus, .counter-plus:hover {
  background: #f58023;
  border-color: #f58023;
  color: #fff;
}

/* line 208, ../scss/_global.scss */
.counter-field {
  text-align: center;
  border: none;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
}

/* Checkbox */
/* line 217, ../scss/_global.scss */
.list-checkbox {
  font: 14px 'Myriad-Pro-Regular', sans-serif;
  color: #666666;
}
/* line 220, ../scss/_global.scss */
.list-checkbox li {
  margin-top: 20px;
  line-height: 1em;
}
/* line 223, ../scss/_global.scss */
.list-checkbox li:first-child {
  margin: 0;
}
/* line 227, ../scss/_global.scss */
.list-checkbox [type="checkbox"]:not(:checked) + label:before,
.list-checkbox [type="checkbox"]:checked + label:before,
.list-checkbox [type="checkbox"]:not(:checked) + label:after,
.list-checkbox [type="checkbox"]:checked + label:after,
.list-checkbox [type="checkbox"]:not(:checked),
.list-checkbox [type="checkbox"]:checked {
  position: absolute;
}
/* line 235, ../scss/_global.scss */
.list-checkbox [type="checkbox"]:not(:checked),
.list-checkbox [type="checkbox"]:checked {
  left: -9999px;
}
/* line 239, ../scss/_global.scss */
.list-checkbox [type="checkbox"]:not(:checked) + label,
.list-checkbox [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 249, ../scss/_global.scss */
.list-checkbox [type="checkbox"]:not(:checked) + label:before,
.list-checkbox [type="checkbox"]:checked + label:before {
  content: '';
  top: -1px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #dfdfdf;
}
/* line 258, ../scss/_global.scss */
.list-checkbox [type="checkbox"]:not(:checked) + label:after,
.list-checkbox [type="checkbox"]:checked + label:after {
  content: url("../../img/checkbox-arrow.png");
  top: 0;
  left: 3px;
  width: 16px;
  height: 10px;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 267, ../scss/_global.scss */
.list-checkbox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 271, ../scss/_global.scss */
.list-checkbox [type="checkbox"]:checked + label:after {
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* Buttons */
/* line 279, ../scss/_global.scss */
.container-buttons > div {
  margin-top: 35px;
}
/* line 281, ../scss/_global.scss */
.container-buttons > div:first-child {
  margin: 0;
}
/* line 285, ../scss/_global.scss */
.container-buttons li {
  display: inline-block;
}
/* line 287, ../scss/_global.scss */
.container-buttons li:first-child {
  margin-right: 20px;
}
/* line 291, ../scss/_global.scss */
.container-buttons a {
  color: #fff;
  font: 16px 'Roboto-Regular', sans-serif;
  line-height: 16px;
  text-align: center;
}
/* line 297, ../scss/_global.scss */
.container-buttons *:before {
  position: absolute;
}

/* line 302, ../scss/_global.scss */
.btns-rectangular-icon a, .btns-rectangular a, .btns-arrow a, .btns-search a {
  position: relative;
  display: inline-block;
}

/* line 309, ../scss/_global.scss */
.btns-rectangular-icon li:first-child a, .btns-rectangular li:first-child a {
  background: #5d7486;
}
/* line 313, ../scss/_global.scss */
.btns-rectangular-icon a, .btns-rectangular a {
  background: #465b6b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 319, ../scss/_global.scss */
.btns-rectangular-icon a {
  width: 230px;
  padding: 8px 20px 8px 40px;
}
/* line 322, ../scss/_global.scss */
.btns-rectangular-icon a:before {
  content: url("../../img/plus.png");
  top: 50%;
  left: 9%;
  width: 12px;
  height: 14px;
  margin-top: -7px;
}

/* line 333, ../scss/_global.scss */
.btns-rectangular a {
  width: 195px;
  padding: 8px 0;
}

/* line 340, ../scss/_global.scss */
.btns-arrow li:first-child span {
  background: #e85e5c;
}
/* line 342, ../scss/_global.scss */
.btns-arrow li:first-child span:before {
  content: url("../../img/btn-arrow-light.png");
}
/* line 347, ../scss/_global.scss */
.btns-arrow a {
  width: 100px;
  padding-left: 15px;
}
/* line 350, ../scss/_global.scss */
.btns-arrow a span {
  display: inline-block;
  padding: 8px 19px;
  background: #be4847;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 355, ../scss/_global.scss */
.btns-arrow a span:before {
  content: url("../../img/btn-arrow-dark.png");
  top: 0;
  left: 3%;
}

/* line 365, ../scss/_global.scss */
.btns-search li:first-child a {
  background: #f58023;
}
/* line 369, ../scss/_global.scss */
.btns-search a {
  width: 88px;
  padding: 8px 0;
  background: #fd7000;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* Side menu */
/* line 379, ../scss/_global.scss */
.container-side-menu fieldset {
  width: 360px;
  padding: 20px;
  border: 1px solid #dfdfdf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 385, ../scss/_global.scss */
.container-side-menu legend {
  padding: 0 10px;
  font: 16px 'Roboto-Regular', sans-serif;
  color: #3f5467;
}
/* line 391, ../scss/_global.scss */
.container-side-menu .active a {
  text-decoration: underline;
}
/* line 395, ../scss/_global.scss */
.container-side-menu li {
  margin-top: 15px;
}
/* line 397, ../scss/_global.scss */
.container-side-menu li:first-child {
  margin: 0;
}
/* line 400, ../scss/_global.scss */
.container-side-menu li a {
  color: #0088cc;
}
/* line 402, ../scss/_global.scss */
.container-side-menu li a:hover {
  text-decoration: underline;
}

/* Status ad */
/* line 411, ../scss/_global.scss */
.list-status li, .list-status span {
  display: inline-block;
}
/* line 414, ../scss/_global.scss */
.list-status li {
  margin-left: 20px;
}
/* line 416, ../scss/_global.scss */
.list-status li:first-child {
  margin: 0;
}
/* line 420, ../scss/_global.scss */
.list-status span {
  padding: 3px 10px;
  border: 1px solid #000;
  font: 14px 'Roboto-Regular', sans-serif;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 426, ../scss/_global.scss */
.list-status .pre-moderation {
  border-color: #999999;
  color: #999999;
}
/* line 430, ../scss/_global.scss */
.list-status .published {
  border-color: #003366;
  color: #003366;
}
/* line 434, ../scss/_global.scss */
.list-status .rejected {
  border-color: #ff3333;
  color: #ff3333;
}
/* line 438, ../scss/_global.scss */
.list-status .application-removal {
  border-color: #039403;
  color: #039403;
}
/* line 442, ../scss/_global.scss */
.list-status .discontinued-publications {
  border-color: #0033ff;
  color: #0033ff;
}

/* Sidebar */
/* line 449, ../scss/_global.scss */
.sidebar {
  width: 250px;
}
/* line 452, ../scss/_global.scss */
.sidebar li:last-child a {
  border-bottom: none;
}
/* line 456, ../scss/_global.scss */
.sidebar .active {
  background: #3f5467;
  border-bottom-color: #3f5467;
}
/* line 460, ../scss/_global.scss */
.sidebar a {
  display: block;
  padding: 15px 20px;
  background: #5d7486;
  border-bottom: 1px solid #6d8495;
  color: #fff;
}
/* line 466, ../scss/_global.scss */
.sidebar a:hover, .sidebar a:focus {
  background: #3f5467;
  border-bottom-color: #3f5467;
}

/* Comment */
/* line 473, ../scss/_global.scss */
.comment, .important {
  font: 15px 'Pt Sans', sans-serif;
  line-height: 20px;
}

/* line 477, ../scss/_global.scss */
.comment {
  width: 855px;
  color: #999999;
}

/* line 481, ../scss/_global.scss */
.important {
  width: 955px;
  padding: 15px 45px;
  border: 1px dashed #ffa200;
  background: #fafafa;
  text-align: center;
  color: #333333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* Ad */
/* line 492, ../scss/_global.scss */
.list-ad {
  overflow: hidden;
}
/* line 494, ../scss/_global.scss */
.list-ad > li {
  width: 270px;
  float: left;
  border: 1px solid #e2e2e2;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  margin-left: 30px;
  position: relative;
}
/* line 503, ../scss/_global.scss */
.list-ad > li:first-child {
  margin: 0;
}
/* line 507, ../scss/_global.scss */
.list-ad .apartment-address span, .list-ad h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 511, ../scss/_global.scss */
.list-ad h4 {
  color: #333;
  padding: 18px 20px;
  font: 16px 'Roboto-Regular', sans-serif;
  line-height: 16px;
  margin: 0;
}

/* line 519, ../scss/_global.scss */
.apartment-link, .apartment-info li {
  display: inline-block;
}

/* line 522, ../scss/_global.scss */
.img-wrap {
  position: relative;
}
/* line 524, ../scss/_global.scss */
.img-wrap span {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 15px;
  background: rgba(111, 133, 154, 0.9);
  font: italic 14px 'Roboto-Regular', sans-serif;
  color: #fff;
}
/* line 533, ../scss/_global.scss */
.img-wrap img {
  width: 268px;
  height: 174px;
}

/* line 538, ../scss/_global.scss */
.apartment-info {
  padding: 15px;
}
/* line 540, ../scss/_global.scss */
.apartment-info ul {
  overflow: hidden;
}
/* line 543, ../scss/_global.scss */
.apartment-info li {
  float: left;
  padding: 0 10px;
  color: #999999;
  border-left: 1px solid #999999;
}
/* line 548, ../scss/_global.scss */
.apartment-info li:first-child {
  border: none;
}

/* line 553, ../scss/_global.scss */
.apartment-address {
  padding: 15px 0 15px 20px;
  background: #f5f5f5;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
/* line 558, ../scss/_global.scss */
.apartment-address span {
  position: relative;
  display: block;
  overflow: hidden;
  width: 215px;
  padding-left: 20px;
  font: 14px 'Roboto-Regular', sans-serif;
  color: #333333;
}
/* line 566, ../scss/_global.scss */
.apartment-address span:before {
  content: url("../../img/icon-address.png");
  position: absolute;
  width: 11px;
  height: 16px;
  top: 2px;
  left: 0;
}

/* Tables */
/* line 579, ../scss/_global.scss */
.container-tables h2 + div {
  margin-bottom: 40px;
}

/* line 583, ../scss/_global.scss */
.vertical, .horizontal {
  font-family: 'PT Sans', sans-serif;
}
/* line 585, ../scss/_global.scss */
.vertical h3, .horizontal h3 {
  font-size: 16px;
  color: #333333;
}

/* line 590, ../scss/_global.scss */
.vertical-table, .horizontal-table {
  width: 735px;
  border: 1px solid #dfdfdf;
}
/* line 594, ../scss/_global.scss */
.vertical-table tr, .horizontal-table tr {
  border-bottom: 1px dashed #dfdfdf;
}
/* line 597, ../scss/_global.scss */
.vertical-table td, .horizontal-table td {
  border-right: 1px solid #dfdfdf;
  padding: 15px 20px;
  color: #000;
}

/* line 605, ../scss/_global.scss */
.vertical-table tr:nth-child(2n) {
  background: #f8f8f8;
}
/* line 608, ../scss/_global.scss */
.vertical-table td {
  width: 50%;
  font-size: 15px;
}
/* line 611, ../scss/_global.scss */
.vertical-table td:first-child {
  color: #999999;
}

/* line 617, ../scss/_global.scss */
.horizontal-table tr:first-child {
  background: #f8f8f8;
  border-bottom-style: solid;
}
/* line 620, ../scss/_global.scss */
.horizontal-table tr:first-child td {
  font-size: 15px;
  color: #999999;
}
