@font-face {
  font-family: 'Roboto-Italic';
  src: url('../fonts/roboto-italic/Roboto-Italic.eot');
  src: local('☺'),
  url('../fonts/roboto-italic/Roboto-Italic.woff') format('woff'),
  url('../fonts/roboto-italic/Roboto-Italic.ttf') format('truetype'),
  url('../fonts/roboto-italic/Roboto-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto-regular/Roboto-Regular.eot');
  src: local('☺'),
  url('../fonts/roboto-regular/Roboto-Regular.woff') format('woff'),
  url('../fonts/roboto-regular/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/roboto-regular/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad-Pro-Regular';
  src: url('../fonts/myriad-pro/Myriad-Pro-Regular.eot');
  src: local('☺'),
  url('../fonts/myriad-pro/Myriad-Pro-Regular.woff') format('woff'),
  url('../fonts/myriad-pro/Myriad-Pro-Regular.ttf') format('truetype'),
  url('../fonts/myriad-pro/Myriad-Pro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  @include box-sizing(border-box);
}
body {
  font: 14px 'Arial', sans-serif;
  padding: 40px;
  > div section {
    margin-top: 80px;
  }
  div h1 + section {
    margin: 0;
  }
}
a, input, textarea {
  outline: none;
}
h2, h3 {
  margin-bottom: 20px;
  color: #0090ff;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 18px;
}
a {
  text-decoration: none;
}

/* Inputs */
.container-inputs {
  h2 {
    margin: 0;
  }
  dl {
    width: 530px;
    dt,dd {
      display: inline-block;
      margin-top: 40px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  dt {
    position: relative;
    z-index: 5;
    width: 34%;
    min-width: 0;
    margin-right: -5px;
    font-style: italic;
    color: #9d9d9d;
    &:first-child {
      margin-top: 0;
    }
  }
  dt + dd {
    margin-top: 0;
  }
  dd {
    width: 66%;
  }
  input {
    width: 95px;
    border: 1px solid #dfdfdf;
    font: 14px 'Roboto-Italic', sans-serif;
    text-align: center;
    @include border-radius(3px);
  }
}
label[for="streetName"] {
  position: relative;
  z-index: 5;
  font: 14px 'Roboto-Regular', sans-serif;
  color: #666666;
  &:after {
    content: '*';
    position: absolute;
    width: 6px;
    height: 9px;
    right: -8px;
    color: #ff0000;
  }
}
input#streetName, input#focusInput, input#errorInput {
  padding: 5px;
}
input#streetName {
  width: 350px;
  margin-top: 8px;
  text-align: left;
  &:focus {
    border: 1px solid #5d7486;
    @include box-shadow(#4e96ce 0 0 4px);
  }
  &::-webkit-input-placeholder {
    color:#cccccc;
  }
  &::-moz-placeholder {
    color:#cccccc;
  }
  &:-moz-placeholder {
    color:#cccccc;
  }
}
input#focusInput {
  border: 1px solid #5d7486;
  @include box-shadow(#4e96ce 0 0 4px);
}
input#errorInput {
  border: 1px solid #ff4242;
  &:focus {
    @include box-shadow(rgba(255, 66, 66, 0.8) 0 0 5px);
  }
}
.error-message {
  display: inline-block;
  margin-left: 10px;
  font: 12px 'Roboto-Regular', sans-serif;
  color: #ff0000;
}

/* Selectors */
.container-selectors {
  .list-selectors {
    li {
      float: left;
      margin-left: 20px;
      &:first-child {
        margin: 0;
      }
    }
  }
  .ui-select-container {
    width: 265px;
  }
}
.container-selectors .ui-select-container, .selectize-dropdown.single,
.selectize-input.selectize-focus, .selectize-control.single .selectize-input {
  border-color: #dfdfdf !important;
}
.selectize-control.single .selectize-input:after {
  border-color: #ccc transparent transparent transparent;
}
.select2-container .select2-choice .select2-arrow, .selectize-control.single .selectize-input {
  background: none;
  box-shadow: none;
}
.selectize-control.single .selectize-input {
  padding: 5px 10px;
}
.selectize-dropdown, .selectize-input, .selectize-input input {
  font: 14px 'Roboto-Regular', sans-serif;
  color: #333333;
  &::-webkit-input-placeholder {
    font: 14px 'Roboto-Italic', sans-serif;
    color:#cccccc;
  }
  &::-moz-placeholder {
    font: 14px 'Roboto-Italic', sans-serif;
    color:#cccccc;
  }
  &:-moz-placeholder {
    font: 14px 'Roboto-Italic', sans-serif;
    color:#cccccc;
  }
}
.container-selectors .ui-select-container {
  line-height: 10px;
}
.selectize-dropdown.single {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.selectize-dropdown {
  border-top: 1px solid #d0d0d0;
}
.selectize-control.single.open .selectize-input:after {
  border-color: #f58023 transparent transparent transparent;
}
.selectize-dropdown .active, .ui-select-choices-row:hover {
  color: #fff;
}
.ui-select-choices-row:hover, .selectize-dropdown .active {
  background-color: #f58023;
}
.selectize-dropdown .optgroup {
  border: none;
}
.selectize-dropdown [data-selectable] {
  padding-left: 15px;
}
.selectize-dropdown .optgroup-header {
  font: bold 14px 'Roboto-Regular', sans-serif;
}
// MultiSelect
.select-choice {
  margin-top: 100px;
  regionchoice {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    input {
      width: 355px;
      padding: 7px 10px;
      border: 1px solid #d0d0d0;
      font: 14px 'Roboto-Italic', sans-serif;
      @include border-radius(3px);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &::-webkit-input-placeholder {
        color:#cccccc;
      }
      &::-moz-placeholder {
        color:#cccccc;
      }
      &:-moz-placeholder {
        color:#cccccc;
      }
    }
  }
  .list-regions {
    margin: 10px 0;
    columns: 4;
    -webkit-columns: 4;
    -o-columns: 4;
    -ms-columns: 4;
    -moz-columns: 4;
    column-gap: 0;
    -webkit-column-gap: 0;
    -ms-column-gap: 0;
    -moz-column-gap: 0;
    -o-column-gap: 0;
    column-rule: 1px dashed #dfdfdf;
    -moz-column-rule: 1px dashed #dfdfdf;
    -webkit-column-rule: 1px dashed #dfdfdf;
    -o-column-rule: 1px dashed #dfdfdf;
    text-align: left;
    li {
      height: 36px;
      line-height: 36px;
      padding: 0 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #333;
      cursor: pointer;
      &:hover {
        background: #f58023;
        color: #fff;
      }
      span {
        font: 14px 'Roboto-Regular', sans-serif;
      }
    }
  }
}
.select-choice.close {
  .region-choice {
    display: none;
  }
}
.select-choice.open {
  .region-choice {
    position: absolute;
    top: 48px;
    left: 50%;
    width: 840px;
    margin-left: -420px;
    background: #fff;
    border: 1px solid #dfdfdf;
    @include border-radius(3px);
    &:after, &:before {
      content: "";
      position: absolute;
      left: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 13px 10px;
    }
    &:after {
      top: -13px;
      border-color: transparent transparent #dfdfdf transparent;
    }
    &:before {
      z-index: 2;
      top: -12px;
      border-color: transparent transparent #fff transparent;
    }
    .title, .towns-nav {
      margin: 0 20px;
      padding: 20px 0;
      border-bottom: 1px solid #ccc;
      font: italic 16px 'Roboto-Regular', sans-serif;
      color: #ccc;
      text-align: left;
    }
  }
  .towns-nav {
    overflow: hidden;
    li {
      float: right;
      cursor: pointer;
      &:first-child {
        float: left;
        span {
          padding-left: 20px;
          &:after {
            content: url('../../img/left-arrow-dark.png');
            position: absolute;
            top: 0;
            left: 0;
          }
          &:hover {
            &:after {
              content: url('../../img/left-arrow.png');
            }
          }
        }
      }
      span {
        position: relative;
        font: 16px 'Roboto-Regular', sans-serif;
        color: #0088cc;
        padding-right: 20px;
        &:hover {
          text-decoration: underline;
          &:after {
            content: url('../../img/right-arrows.png');
          }
        }
        &:after {
          content: url('../../img/right-arrows-dark.png');
          position: absolute;
          top: -1px;
          right: 0;
        }
      }
    }
  }
}
.region-choice.hide {
  h2, .regions {
    display: none;
  }
  .region-towns {
    display: block;
  }
}
.region-towns {
  display: none;
}

/* Textarea */
.container-textarea {
  textarea {
    width: 445px;
    height: 165px;
    padding: 10px;
    border: 1px solid #dfdfdf;
    font: 14px 'Roboto-Italic', sans-serif;
    resize: none;
    @include border-radius(2px);
    &:focus {
      border: 1px solid #5d7486;
      @include box-shadow(#4e96ce 0 0 4px);
    }
  }
}

/* Counter */
.counter-container, .counter-field, .counter-minus, .counter-plus {
  display: -webkit-inline-flex;
  display: inline-flex;
}
.counter-field, .counter-minus, .counter-plus {
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 32px;
  font-family: 'Roboto-Regular', sans-serif;
}
.counter-minus{
  @include border-top-left-radius(2px);
  @include border-bottom-left-radius(2px);
}
.counter-plus{
  @include border-top-right-radius(2px);
  @include border-bottom-right-radius(2px);
}
.counter-minus, .counter-plus {
  background: #fff;
  color: #000;
  margin: 0;
  text-decoration: none;
  border: 1px solid #cccccc;
  font-size: 24px;
  &:hover {
    background: #f58023;
    border-color: #f58023;
    color: #fff;
  }
}
.counter-field {
  text-align: center;
  border: none;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
}

/* Checkbox */
.list-checkbox {
  font: 14px 'Myriad-Pro-Regular', sans-serif;
  color: #666666;
  li {
    margin-top: 20px;
    line-height: 1em;
    &:first-child {
      margin: 0;
    }
  }
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after,
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
  }
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    top: -1px;
    left:0;
    width: 12px;
    height: 12px;
    border: 1px solid #dfdfdf;
  }
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: url('../../img/checkbox-arrow.png');
    top: 0;
    left: 3px;
    width: 16px;
    height: 10px;
    @include transition-duration(.2s);
  }
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    @include scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    @include scale(1);
  }
}

/* Buttons */
.container-buttons {
  > div {
    margin-top: 35px;
    &:first-child {
      margin: 0;
    }
  }
  li {
    display: inline-block;
    &:first-child {
      margin-right: 20px;
    }
  }
  a {
    color: #fff;
    font: 16px 'Roboto-Regular', sans-serif;
    line-height: 16px;
    text-align: center;
  }
  *:before {
    position: absolute;
  }
}
.btns-rectangular-icon, .btns-rectangular, .btns-arrow, .btns-search {
  a {
    position: relative;
    display: inline-block;
  }
}
.btns-rectangular-icon, .btns-rectangular {
  a {
    background: #5d7486;
    @include border-radius(3px);
    &:hover {
      background: #465b6b;
    }
  }
}
.btns-rectangular-icon {
  a {
    width: 230px;
    padding: 8px 20px 8px 40px;
    &:before {
      content: url('../../img/plus.png');
      top: 50%;
      left: 9%;
      width: 12px;
      height: 14px;
      margin-top: -7px;
    }
  }
}
.btns-rectangular {
  a {
    width: 195px;
    padding: 8px 0;
  }
}
.btns-arrow {
  span {
    background: #e85e5c;
    &:before {
      content: url('../../img/btn-arrow-light.png');
    }
  }
  a {
    width: 100px;
    padding-left: 15px;
    span {
      display: inline-block;
      padding: 8px 19px;
      background: #e85e5c;
      @include border-radius(3px);
      &:before {
        content: url('../../img/btn-arrow-light.png');
        top: 0;
        left: 3%;
      }
    }
    &:hover span {
        background: #be4847;
        &:before {
          content: url('../../img/btn-arrow-dark.png');
        }
    }
  }
}
.btns-search {
  a {
    width: 88px;
    padding: 8px 0;
    background: #f58023;
    @include border-radius(3px);
    &:hover {
      background: #fd7000;
    }
  }
}

/* Side menu */
.container-side-menu {
  fieldset {
    width: 360px;
    padding: 20px;
    border: 1px solid #dfdfdf;
    @include border-radius(3px);
  }
  legend {
    padding: 0 10px;
    font: 16px 'Roboto-Regular', sans-serif;
    color: #3f5467;
  }
  .active {
    a {
      text-decoration: underline;
    }
  }
  li {
    margin-top: 15px;
    &:first-child {
      margin: 0;
    }
    a {
      color: #0088cc;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Status ad */
.list-status {
  li, span {
  display: inline-block;
}
  li {
    margin-left: 20px;
    &:first-child {
      margin: 0;
    }
  }
  span {
    padding: 3px 10px;
    border: 1px solid #000;
    font: 14px 'Roboto-Regular', sans-serif;
    @include border-radius(3px);
  }
  .pre-moderation {
    border-color: #999999;
    color: #999999;
  }
  .published {
    border-color: #003366;
    color: #003366;
  }
  .rejected {
    border-color: #ff3333;
    color: #ff3333;
  }
  .application-removal {
    border-color: #039403;
    color: #039403;
  }
  .discontinued-publications {
    border-color: #0033ff;
    color: #0033ff;
  }
}

/* Sidebar */
.sidebar {
  width: 250px;
  li:last-child {
    a {
      border-bottom: none;
    }
  }
  .active {
    background: #3f5467;
    border-bottom-color: #3f5467;
  }
  a {
    display: block;
    padding: 15px 20px;
    background: #5d7486;
    border-bottom: 1px solid #6d8495;
    color: #fff;
    &:hover, &:focus {
      background: #3f5467;
      border-bottom-color: #3f5467;
    }
  }
}
/* Comment */
.comment, .important {
  font: 15px 'Pt Sans', sans-serif;
  line-height: 20px;
}
.comment {
  width: 855px;
  color: #999999;
}
.important {
  width: 955px;
  padding: 15px 45px;
  border: 1px dashed #ffa200;
  background: #fafafa;
  text-align: center;
  color: #333333;
  @include border-radius(3px);
}

/* Ad */
.list-ad {
  overflow: hidden;
  > li {
    width: 270px;
    float: left;
    border: 1px solid #e2e2e2;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    margin-left: 30px;
    position: relative;
    &:first-child {
      margin: 0;
    }
  }
  .apartment-address span, h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  h4 {
    color: #333;
    padding: 18px 20px;
    font: 16px 'Roboto-Regular', sans-serif;
    line-height: 16px;
    margin: 0;
  }
}
.apartment-link, .apartment-info li {
  display: inline-block;
}
.img-wrap {
  position: relative;
  span {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 15px;
    background: rgba(111, 133, 154, 0.9);
    font: italic 14px 'Roboto-Regular', sans-serif;
    color: #fff;
  }
  img {
    width: 268px;
    height: 174px;
  }
}
.apartment-info {
  padding: 15px;
  ul {
    overflow: hidden;
  }
  li {
    float: left;
    padding: 0 10px;
    color: #999999;
    border-left: 1px solid #999999;
    &:first-child {
      border: none;
    }
  }
}
.apartment-address {
  padding: 15px 0 15px 20px;
  background: #f5f5f5;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  span {
    position: relative;
    display: block;
    overflow: hidden;
    width: 215px;
    padding-left: 20px;
    font: 14px 'Roboto-Regular', sans-serif;
    color: #333333;
    &:before {
      content: url("../../img/icon-address.png");
      position: absolute;
      width: 11px;
      height: 16px;
      top: 2px;
      left: 0;
    }
  }
}
/* Show/hide Content */
.container-drop-content {
  h3 {
    font: 15px 'PT Sans', sans-serif;
    color: #000000;
  }
  .open {
    .question:after {
      border-top: none;
      border-bottom: 5px solid #0d8ecf;
    }
  }
  .close {
    span {
      overflow: hidden;
      height: 0;
    }
  }
}
.list-questions {
  li {
    margin-top: 10px;
    &:first-child {
      margin: 0;
    }
  }
  .question {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 1px dotted #0d8ecf;
    font: 21px 'PT Sans', sans-serif;
    color: #0d8ecf;
    cursor: pointer;
    &:after {
      content: "";
      position: absolute;
      top: 12px;
      right: -15px;
      border: 5px solid transparent;
      border-top: 5px solid #0d8ecf;
    }
  }
  .answer {
    display: block;
  }
}

/* Contact info */
.container-contact {
  h3 {
    font: 19px 'PT Sans', sans-serif;
    color: #333333;
  }
  .wrap-map {
    border: 1px solid #e0e0e0;
    @include border-radius(3px);
  }
}
.list-contacts {
  overflow: hidden;
  > li {
    float: left;
    width: 480px;
    margin-left: 40px;
    &:first-child {
      margin: 0;
    }
  }
}
.contact-information {
  margin-bottom: 20px;
  li {
    margin-top: 5px;
    font: 15px 'Roboto-Regular', sans-serif;
    color: #010101;
    &:first-child {
      margin: 0;
    }
  }
  span {
    color: #999999;
  }
}

/* Tables */
.container-tables {
  h2 + div {
    margin-bottom: 40px;
  }
}
.vertical, .horizontal {
  font-family: 'PT Sans', sans-serif;
  h3 {
    font-size: 16px;
    color: #333333;
  }
}
.vertical-table, .horizontal-table {
  width: 735px;
  border: 1px solid #dfdfdf;

  tr {
    border-bottom: 1px dashed #dfdfdf;
  }
  td {
    border-right: 1px solid #dfdfdf;
    padding: 15px 20px;
    color: #000;
  }
}

.vertical-table {
  tr:nth-child(2n) {
    background: #f8f8f8;
  }
  td {
    width: 50%;
    font-size: 15px;
    &:first-child {
      color: #999999;
    }
  }
}
.horizontal-table {
  tr:first-child {
    background: #f8f8f8;
    border-bottom-style: solid;
    td {
      font-size: 15px;
      color: #999999;
    }
  }
}